<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes APP</title>
    <!-- Bootstrap 4.5.2 -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Fontawesome 5.14.0 -->
    <link href="/css/all.css" rel="stylesheet"> <!--load all styles -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> navigation}}
    <main class="container p-4">
        {{> messages}}
        {{> errors}}
        {{{body}}}
    </main>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
</body>
</html>